body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f3f7;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

#header-all {
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.432);
}

.headerFake {
  height: 160px;
}

.header-banner img {
  width: 100%;
  height: 35px;
  display: block;
}

.header {
  height: 130px;
  display: flex;
  flex-direction: row;
  background-color: rgb(239, 239, 239);
}

.logo {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
}

#logo {
  height: 100px;
}

.main-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.top-header {
  display: flex;
  flex-direction: row;
  flex-basis: 60%;
}

.left-top-header {
  flex-basis: 40%;
  align-content: center;
  justify-items: center;
}

.left-top-header>form>input {
  height: 30px;
  width: 300px;
  border: 2px solid black;
  border-right: none;
  padding-left: 20px;
}

.left-top-header>form>button {
  height: 36px;
  width: 70px;
  background-color: red;
  border: 2px solid black;
  border-left: none;
}

.right-top-header {
  flex-basis: 40%;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right-top-header>a {
  margin: 0px 10px;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  flex-basis: 40%;
}

.left-bottom-header {
  flex-basis: 40%;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right-bottom-header {
  flex-basis: 40%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hidden {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: snow;
  top: 0px;
  right: 0px;
  position: absolute;
}

#button {
  display: inline-block;
  align-content: center;
  height: 40px;
  width: 200px;
  font-size: large;
  font-weight: 600;
  color: #f0f3f7;
  background-color: red;
  border-radius: 20px;
}

#button:hover {
  color: black;
  background-color: gray;
  cursor: pointer;
}