.laptop-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.sptt:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sptt {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.sptt>a {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.img {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.img>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: left;
}

.title>h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
    /* Fixed height for 2 lines */
}

.title>p {
    color: #d70018;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.title>span {
    font-size: 14px;
    font-weight: 600;
    color: #288ad6;
    text-transform: uppercase;
}